@import "./mixins";

@import "primevue/resources/themes/lara-light-indigo/theme.css";
// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
//@layer vendor, custom;

:root {
  --main-color: #ED4B00;
}

@include font-face("Lato", "Lato-Black", 900, "normal");
@include font-face("Lato", "Lato-ExtraBold", 800, "normal");
@include font-face("Lato", "Lato-Bold", 700, "normal");
@include font-face("Lato", "Lato-SemiBold", 600, "normal");
@include font-face("Lato", "Lato-Medium", 500, "normal");
@include font-face("Lato", "Lato-Regular", 400, "normal");
@include font-face("Lato", "Lato-Light", 300, "normal");
@include font-face("Lato", "Lato-ExtraLight", 200, "normal");
@include font-face("Lato", "Lato-Thin", 100, "normal");

html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.modelWindow {
  z-index: 1000 !important;
}


img, video {
  display: unset;
  vertical-align: unset;
}

.p-menuitem-link {
  border: none !important;
}
.p-link:focus {
  box-shadow: unset !important;
}

.p-autocomplete input {
  width: 100% !important;
}

.p-autocomplete input:focus, .p-autocomplete input:hover {
  box-shadow: unset !important;
  border-color: rgb(76 175 80 / 1) !important;;
}

.custom-header {
  display: flex !important;

  .p-checkbox-box, input {
    box-shadow: unset !important;
  }

  input {
    padding: 5px !important;
  }
}

.loadingScreen {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__content {
    width: 100%;
    height: auto;
    border-radius: 3px;
    border: 1px solid #dedede;
    background: var(--linear,
        linear-gradient(180deg, #fefefe 0%, #f6f6f6 100%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 12px;
    text-align: center;
    @apply text-grey-900;
  }
}

.p-dropdown-panel {
  max-width: 435px;
}